header {
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    border-bottom: 7px solid orange;
  }
  
  footer{
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    border-top: 7px solid orange;
  }
  
  .partial {
    color: white;
    background-color: black;
    text-align: center;
    padding: 1px;
  }

  table th {
    padding: 10px 20px;
    border-bottom: 2px solid gray;
  }
  
  table td {
    background-color: #f9ecd5;
    padding: 10px 20px;
  }
  
  .notice {
    background-color: #ccf;
    padding: 5px;
  }
  
.flash-notice {
    border-radius: 5px;
    padding: 16px 18px;
    margin: 16px 0px;
    background-color: #bcdfff;
    color: #0067C0;
    border: solid 1px #0067C0;
  }
// styles.css
#confirmationModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  width: 50%;
}

#confirmButton,
#cancelButton {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  /* 追加：ボタンのスタイル */
}

#cancelButton {
  /* 追加：キャンセルボタンの色を変更 */
  background-color: #ccc;
}

#confirmButton:hover,
#cancelButton:hover {
  /* 追加：ホバー時のスタイル */
  background-color: #ddd;
}